@model IEnumerable<filmJPTVR18.Models.FilmActor>

@{
    ViewBag.Title = "Index";
}

<h2>Manage actors filmography</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Actor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Actor.FirstName @item.Actor.SecondName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Film.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
