@model IEnumerable<filmJPTVR18.Models.Film>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        @foreach (var film in Model)
        {
            <div class="row">
                <div class="col-md-12">
                    <h2 style="color:#000000;">
                        @Html.ActionLink(film.Title, "Details", "Films", new { film.Id }, null)
                    </h2>
                </div>
                <div class="col-md-2">
                    @if (film.Image != null)
                    {
                        <img src="@Url.Action("GetImage", new { film.Id })" class="img-thumbnail" />
                    }
                </div>
                <div class="col-md-8">
                    <div>
                        <b>Discription:</b><br />
                        @film.Description
                    </div>
                    <div>
                        <b>Release date:</b>
                        @film.Year
                    </div>
                    <div>
                        <b>Country:</b>
                        @film.Country
                    </div>
                    <div>
                        <b>Actors:</b>
                        @{Html.RenderAction("GetFilmAuthors", new { id = film.Id });}
                    </div>
                </div>
            </div>
        }
    </div>
</div>