@model IEnumerable<MyPainterJPTVR18.Models.Picture>

@{
    ViewBag.Title = "Index";
}

<h2>Картины</h2>

<p>
    @Html.ActionLink("Создать страницу картины", "Create")
</p>
<div class="container-fluid">
    <div class="row">
        @foreach (var picture in Model)
        {
            <div class="col-md-5 text-center">
                <h3>@picture.Title</h3>
                <h4>@picture.painter</h4>
                @if (picture.Canvas != null)
                {
                    <img src="@Url.Action("GetImage", new { picture.Id })" class="img-rounded img" width="300"/>
                }
                <div class="margint-2">
                    @Html.ActionLink("Редактировать", "Edit", new { id = picture.Id }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = picture.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = picture.Id })
                </div>
            </div>
        }
    </div>
</div>